
.modal-dialog{
    width: fit-content;
}
body{
    background-image: url("tree.jpg");
    background-color: #cccccc;
  }

  html{
	background: url("tree.jpg") no-repeat center center;
	background-size: cover;
	background-color: #000000;
}